1. Выберите заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес:

In [8]:
"""
SELECT CustomerName, Country, Address
FROM Customers
WHERE country IN('Germany', 'France') or city = 'Madrid'
ORDER BY Country, CustomerName
""";

2. Выберите топ 3 страны по количеству заказчиков, выведите их названия и количество записей:

In [9]:
"""
SELECT Country, COUNT(CustomerName) as cnt_customers
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerName) DESC
LIMIT 3
""";

3. Выберите перевозчика, который отправил 10-й по времени заказ, выведите его название, и дату отправления:

In [10]:
"""
SELECT top.OrderID, top.OrderDate, shp.ShipperName
FROM (SELECT *
	  FROM Orders
      ORDER BY OrderDate
      LIMIT 10) top
LEFT JOIN Shippers shp ON shp.ShipperID = top.ShipperID
ORDER BY top.OrderDate DESC
LIMIT 1
""";

4. Выберите самый дорогой заказ, выведите список товаров с их ценами.

In [11]:
"""
SELECT ord.OrderID, ProductName, Quantity, Price * Quantity as TotalPrice
FROM Orders ord
LEFT JOIN OrderDetails ord_det on ord.OrderID = ord_det.OrderID
LEFT JOIN Products prd on prd.ProductID = ord_det.ProductID
WHERE ord.OrderID IN (SELECT ord.OrderID
                      FROM Orders ord
                      LEFT JOIN OrderDetails ord_det on ord.OrderID = ord_det.OrderID
                      LEFT JOIN Products prd on prd.ProductID = ord_det.ProductID
                      GROUP BY ord.OrderID
                      ORDER BY SUM(Price * Quantity) DESC LIMIT 1) max_pr
""";

5. Какой товар больше всего заказывали по количеству единиц товара, выведите его название и количество единиц в каждом из заказов:

In [12]:
"""
SELECT ProductName, ord.OrderID, Quantity
FROM Orders ord
LEFT JOIN OrderDetails ord_det on ord.OrderID = ord_det.OrderID
LEFT JOIN Products prd on prd.ProductID = ord_det.ProductID
WHERE ProductName IN (SELECT ProductName
					  FROM Orders ord
					  LEFT JOIN OrderDetails ord_det on ord.OrderID = ord_det.OrderID
					  LEFT JOIN Products prd on prd.ProductID = ord_det.ProductID
					  GROUP BY ProductName
					  ORDER BY SUM(Quantity) DESC
					  LIMIT 1)
ORDER BY Quantity DESC, ord.OrderID
""";

6. Выведите топ 5 поставщиков по количеству заказов, выведите их названия, страну, контактное лицо и телефон:

In [13]:
"""
SELECT SupplierName, Country, ContactName, Phone
FROM Orders ord
LEFT JOIN OrderDetails ord_det on ord.OrderID = ord_det.OrderID
LEFT JOIN Products prd on prd.ProductID = ord_det.ProductID
LEFT JOIN Suppliers spl on spl.SupplierID = prd.SupplierID
GROUP BY SupplierName, Country, ContactName, Phone
ORDER BY COUNT(ord.OrderID) DESC
LIMIT 5
""";

7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии, выведите страну, название категории и сумму:

In [14]:
"""
SELECT cst.Country, cat.CategoryName, SUM(prd.Price * ord_det.Quantity) as CategorySum
FROM Orders ord
LEFT JOIN Customers cst ON cst.CustomerID = ord.CustomerID
LEFT JOIN OrderDetails ord_det ON ord_det.OrderID = ord.OrderID
LEFT JOIN Products prd ON prd.ProductID = ord_det.ProductID
LEFT JOIN Categories cat ON cat.CategoryID = prd.CategoryID
WHERE cst.Country = 'Brazil'
GROUP BY cst.Country, cat.CategoryName
ORDER BY CategorySum DESC
LIMIT 1
""";

8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США:

In [15]:
"""
SELECT MAX(prc.TotalPrice) - MIN(prc.TotalPrice) as DiffMaxMinTotalPrice
FROM (SELECT ord.OrderID, SUM(prd.Price * ord_det.Quantity) as TotalPrice
	  FROM Orders ord
      LEFT JOIN Customers cst ON cst.CustomerID = ord.CustomerID
      LEFT JOIN OrderDetails ord_det ON ord_det.OrderID = ord.OrderID
      LEFT JOIN Products prd ON prd.ProductID = ord_det.ProductID
      WHERE cst.Country = 'USA'
      GROUP BY ord.OrderID) prc
""";

9. Выведите количество заказов у каждого их трех самых молодых сотрудников, а также имя и фамилию во второй колонке:

In [16]:
"""
SELECT COUNT(ord.OrderID) as CountOrders, emp.Name
FROM Orders ord
LEFT JOIN Customers cst ON cst.CustomerID = ord.CustomerID
INNER JOIN (SELECT EmployeeID, FirstName || ' ' || LastName as Name
		   FROM Employees
		   ORDER BY BirthDate DESC
           LIMIT 3) emp ON emp.EmployeeID = ord.EmployeeID
GROUP BY emp.Name
ORDER BY CountOrders DESC
""";

10. Сколько банок крабового мяса всего было заказано:

In [17]:
"""
SELECT SUM(SUBSTR(Unit, 0, 3) * Quantity) as CountTins
FROM Orders ord
LEFT JOIN Customers cst ON cst.CustomerID = ord.CustomerID
LEFT JOIN OrderDetails ord_det ON ord_det.OrderID = ord.OrderID
LEFT JOIN Products prd ON prd.ProductID = ord_det.ProductID
WHERE prd.ProductName = 'Boston Crab Meat'
""";